body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

h1{
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    margin-top: 32px;
    margin-bottom: 0;
}

h2{
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

.icone-coeur-menu{
    display: inline-block;
    width: 22px;
    height: 21px;
    font-size: 22px;
    position: relative;
    top: 40px;
    &:active{
        clip-path: polygon(23% 16%, 40% 19%, 51% 26%, 65% 16%, 79% 17%, 90% 25%, 92% 43%, 82% 59%, 50% 86%, 23% 60%, 11% 47%, 12% 29%);
        transform: scale(1.1);
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    }
} 