/***************** Header **********************/
header img{
    width: 162px;
    height: 44px;
    display: flex;
    margin: auto;
    padding-top: 14px;
    padding-bottom: 5px;   
}
/***************** Nav **********************/
.nav-loc{
    background-color: #F7F7F7;
    height: 330px;
}
.icone-localisation{
    height: 16px;
    color: rgba(53, 53, 53, 1);
}
.nav-loc-ville{  
    background-color: #EAEAEA;
    box-shadow: inset 0px 5px 10px -5px grey;
    .content{
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 17px;
        margin: auto;
        position: relative;
        right: 10px;
        color: rgba(53, 53, 53, 1);
    }  
}

.nav-loc-title{
    text-align: center;
    padding-top: 39px;
    & p{
        font-weight: 300;
        color: rgba(53, 53, 53, 1);
    }
}
.nav-fonction{
    height: 350px;
    .nav-fonction-title{
        margin: 48px 80px 26px 20px;
    }
}
.nav-fontion-button{
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    & .btn{
        display: flex;
        align-items: center;
        gap: 23px;
        width: 322px;
        margin: auto;
        border: 1px solid;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        background: rgba(246, 246, 246, 1);
        position: relative;
    }
        & .btn:hover{
            background: #F5EDFF;
        }
}

.number{
    color: white;
    background: #9356DC;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -10px;
    border-radius: 20px;
    text-align: center;
        & strong{
            position: relative;
            top: 2px;
            font-weight: 500;
        }  
} 
/***************** Main **********************/

main{
    background-color: #F7F7F7;
    padding-bottom: 64px;
    .main-title{
        padding: 54px 0px 20px 20px;
    }
    .main-resto{
        display: grid;
        grid-template-columns: 335px;
        grid-template-rows: 251px 251px 251px 251px;
        gap: 18px;
        margin-left: 20px;
    }
    .main-resto .resto{
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: white;
        position: relative;
    }
        .main-resto img{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            overflow: hidden;
            object-fit: cover;
    }
}
.icone-coeur{
    display: inline-block;
    width: 22px;
    height: 21px;
    font-size: 22px;
    &:active{
        clip-path: polygon(23% 16%, 40% 19%, 51% 26%, 65% 16%, 79% 17%, 90% 25%, 92% 43%, 82% 59%, 50% 86%, 23% 60%, 11% 47%, 12% 29%);
        transform: scale(1.1);
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    }
}   

.resto h3{
    margin-top: 16px;
    margin-bottom: 0px;
    padding-left: 20px
}
.resto-content{
    display: flex;
    justify-content: space-between;
    padding-left: 20px; 
    padding-right: 20px;
    .resto-content p{
        margin-top: 5px;
        margin-bottom: 12px;
    }
}

h5{
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #008766;
    background: #99E2D0;
    width: 61px;
    height: 16px;
    margin: 0;
    padding: 7px 9px 6px 9px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: absolute;
    top: 15px;
    right: 15px;
}

/***************** Loader **********************/

.loader {
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    animation: load 3s forwards;
  }

  .loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 20px solid transparent;
  border-top-color: #3498db;
  animation: load 1s infinite ;
}
  
  @keyframes load {
    from {
      opacity: 1;
      transform: rotate(0deg);
    }
    to {
      opacity: 0;
      transform: rotate(360deg);
    }
  }

.chargement{
    position: fixed;
    top: 60%;
    left: 45%;
    width: 100px;
    height: 100px;
    animation: charg 3s forwards;
}
.chargement:before,
.chargement:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: charg 0.5s ease-out infinite alternate ;
}
  @keyframes charg {
    from {
      opacity: 1;
     scale: (1.5);
    }
    to {
      opacity: 0;
      scale: (3.5);
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
   
    animation: back 2s forwards;
  }
  
  @keyframes back {
    from {
      opacity: 1;
      
    }
    to {
      opacity: 0;
   
      display: none;
    
    }
  }